.rpv-selection-mode__grab {
    cursor: grab;

    :not(input),
    :not(select),
    :not(textarea) {
        cursor: grab !important;
    }
}

.rpv-selection-mode__grabbing {
    cursor: grabbing;

    :not(input),
    :not(select),
    :not(textarea) {
        cursor: grabbing !important;
    }
}
