:root {
    --rpv-attachment__item--hover-background-color: rgba(0, 0, 0, 0.1);
    --rpv-attachment__item-color: #000;
}

/* Dark theme */
:is(.rpv--dark) {
    --rpv-attachment__item--hover-background-color: #2566e8;
    --rpv-attachment__item-color: #fff;
}
