.rpv-properties__modal {
    min-height: 20rem;
    padding: 0.5rem 0;

    &-section {
        padding: 0 0.5rem;
    }

    &-footer {
        display: flex;
        justify-content: center;
        margin-top: 0.5rem;
    }
}
