.rpv-core__annotation--link a {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;

    &:hover {
        background-color: var(--rpv-core__annotation--link-hover-background-color);
    }
}
