.rpv-core__primary-button {
    background-color: rgb(var(--rpv-color-primary));
    border: none;
    border-radius: var(--rpv-radius-sm);
    color: rgb(var(--rpv-color-primary-content));
    cursor: pointer;
    height: 2rem;
    padding: 0 1rem;

    &--rtl {
        direction: rtl;
    }
}
