.rpv-bookmark__empty {
    height: 100%;
    overflow: auto;
    padding: 0.5rem 0;
    text-align: center;
    width: 100%;

    &--rtl {
        direction: rtl;
    }
}

.rpv-bookmark__container {
    height: 100%;
    overflow: auto;
    padding: 0.5rem 0;
    width: 100%;

    &--rtl {
        direction: rtl;
    }
}
